OPENAI_API_KEY=
OAI_CONFIG_LIST='[{"model": "gpt-4o-mini","api_key": ""}]'
NEO4J_URI=neo4j+s://
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DB=
AURA_INSTANCEID=
AURA_INSTANCENAME=
OBSERVE_AGENTS=False
LANGTRACE_API_KEY=